#info {
    margin-top: 50px;
    padding: 30px max(calc((100% - 1024px) / 2), 30px);
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.1rem;
}

#info p:not(:first-child) {
    margin-top: 20px;
}