footer {
  margin-top: 200px;
  background: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

footer .footer-links {
  display: flex;
  column-gap: 20px;
  row-gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer hr {
  border: none;
  border-top: 1px solid #2166cf;
}

footer #note {
  font-size: 0.9rem;
  color: rgb(228, 228, 228);
}

footer .row h3 {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}

footer .row h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: white;
  transition: width 0.2s;
}

footer .row:hover h3::before {
  width: 100%;
}

footer a:hover {
  color: rgb(96, 192, 255);
}

footer .row .links {
  display: flex;
  flex-direction: column;
  height: 100px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  footer .row .links {
    height: auto;
  }
}