@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary: #0b459f;
  --text: #303030;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: var(--text);
}


.btn {
  border: none;
  outline: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow .2s;
}

.btn:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}