@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #0b459f;
  --text: #303030;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: var(--text);
  line-height: 1.5rem;
}

input,
textarea,
iframe {
  background: none;
  border: none;
  outline: none;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.btn:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.container {
  width: 100%;
  padding: 0 max(calc((100% - 1440px) / 2), 30px);
}

.container h2 {
  color: var(--primary);
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.coming-soon {
  height: calc(100vh - 60px);
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero {
  width: 100%;
  height: 100vh;
  padding: 60px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("../images/wiut.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  inset: 0;
  z-index: -20;
}

#hero .content {
  text-align: center;
  font-family: "Lato", sans-serif;
}

#hero h1 {
  font-size: 4rem;
}

#hero p {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

main#page {
  margin-top: 100vh;
  background-color: #f8fafc;
  width: 100%;
  overflow: hidden;
  height: max-content;
} 

@media screen and (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}